/*------------------------------------
  Badge
------------------------------------*/

.badge {
  border: none !important;
  line-height: normal;
  font-weight: normal;
  background-color: var(--bs-body-color) !important;
  color: var(--bs-body-bg) !important;
  font-size: 1rem;

}
.badge[class*=text] {
  color: var(--bs-body-bg) !important;
}